# Generated build artifacts
dist
**/*.tsbuildinfo

# Generated dependencies
node_modules

# Environment specific files
.env
*.sqlite*

# Apple specific files
.DS_Store

# scratchpad
**/scratchpad/**/*
